.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.0);
  z-index: 10;
}

/* .slick-prev:hover,
.slick-next:hover {
  background-color: rgba(255, 255, 255, 1);
} */

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 40px;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.card {
  max-height: 350px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}

.slick-slider {
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-container {
  margin: 0 auto;
}

@media (max-width: 640px) {
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 25px;
  }
}
